* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: 0;
}

body {
    background-color: whitesmoke;
}

.header {
    font-family: cursive;
}

.header-center {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.img-founder {
    width: 75%;
}

.footer {
    margin-top: 5px;
    border: 2px solid burlywood;
    padding-top: 10px;
    margin: 10px 25%;
    background-color: antiquewhite;
    width: auto;
    display: flex;
    justify-content: center;
}

.img-container {
    display: flex;
    justify-content: center;
    margin-bottom: 100px;
}

.box-dad {
    display: flex;
    flex-flow: row wrap;
    width: auto;
    display: flex;
    justify-content: center;
    margin: 0 25%;
}

.box-child {
    font-family: cursive;
    border: 2px solid burlywood;
    background-color: antiquewhite;
    padding: 10px 10px;
    flex-basis: 33%;
    border-radius: 10px;
}

img {
    display: flex;
    border-radius: 10px;
}